<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Data Scientist Course Recommender</span>
    </nav>
    <div class="container-fluid">
        <div class = "row d-flex justify-content-center mt-3">
            <div class="form-inline" >
                <div class="form-group">
                    <label for="country">country</label>
                    <select type="text" id="country" class="form-control mx-sm-3" aria-describedby="country">
                        <option value="ca">Canada</option>
                        <option value="www">US</option>
                    </select>

                    <label for="jobtitle">job title</label>
                    <input type="text" id="jobtitle" class="form-control mx-sm-3" aria-describedby="job title">

                    <label for="city">city</label>
                    <input type="text" id="city" class="form-control mx-sm-3" aria-describedby="city">
                </div>
            </div>
            <button class="btn btn-primary" onclick=readSearchInput()>Search</button>

        </div>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        
    </div>


    <script>
        

        const readSearchInput = () => {

            const country = document.querySelector('#country').value
            const jobTitle = document.querySelector('#jobtitle').value
            const city = document.querySelector('#city').value
            console.log(country)
            console.log(jobTitle)
            console.log(city)
            fetch(`/search-indeed?country=${country}&jobtitle=${jobTitle}&city=${city}`, {method:'POST'})
            .then(response => response.json())
            .then(json => console.log(json))
            
        }

    </script>
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
