<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css'>
    <!--  jquery datatable-->
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Data Scientist Course Recommender</span>
    </nav>
    <div class="container-fluid">
        <div class = "row d-flex justify-content-center mt-3">
            <div class="form-inline " >
                <div class="form-group needs-validation">
                    <label for="country">country</label>
                    <select type="text" id="country" class="form-control mx-sm-3" aria-describedby="country">
                        <option value="ca">Canada</option>
                        <option value="www">US</option>
                    </select>

                    <label for="jobtitle">job title</label>
                    <input type="text" id="jobtitle" class="form-control mx-sm-3" aria-describedby="job title" required="true">

                    <label for="city">city</label>
                    <input type="text" id="city" class="form-control mx-sm-3" aria-describedby="city">
                </div>
            </div>
            <button class="btn btn-primary" onclick=readSearchInput()>Search</button>

        </div>


        <div class="text-center m-5">
          <div hidden class="spinner-border" id='spinner' style="width: 3rem; height: 3rem; " role="status">
          </div>
        </div>

        <div class='row'>
          <div class='col' >
            <span>Indeed Results</span>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Job Title</th>
                      <th>Company</th>
                      <th>Location</th>
                      <th>Description</th>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                  </tr>
              </tbody>
          </table>
          </div>
          <div class="col">
            <span>Courses</span>
          </div>
        </div>
       

    </div>

    <div class="container">
     
  </div>
  
</body>
</body>


<script> 
        
  const showSpinner = (status) => {
    const spinner = document.querySelector('#spinner')
    if (status == true) {
      spinner.removeAttribute('hidden')
    } else {
      spinner.setAttribute('hidden', '');
    }
    spinner.style.display = status?'inline-block':'none'
  }
  const readSearchInput = () => {
      const spinner = document.querySelector('#spinner')
      showSpinner(true)
      const country = document.querySelector('#country').value
      const jobTitle = document.querySelector('#jobtitle').value
      const city = document.querySelector('#city').value
      fetch(`/fetch-indeed?country=${country}&jobtitle=${jobTitle}&city=${city}`, {method:'POST'})
      .then(response => response.json())
      .then(json => {
        console.log(json)
        showSpinner(false)
      })
      
  }


</script>

<script>
  $(document).ready(function() {
        $('#dataTable').DataTable();
  });
  $('#dataTable').dataTable( {
  "lengthMenu": [ 5,10, 25, 50, 75, 100 ]
} );
</script>
</html>
